/*-------------------------------------------------------------------------------
GÉNÉRIQUE 
--------------------------------------------------------------------------------*/
html{
    box-sizing: border-box;

}

*,*::before, *::after{
    box-sizing: inherit;
}

/*-------------------------------------------------------------------------------
ÉLÉMENTS 
--------------------------------------------------------------------------------*/

/*Général*/

body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;

}

p{
    font: 400 1.135em/1.6 "roboto", sans-serif;
}

.bouton{
    background-color: #C0392B;
    color: white;

    border: none;
    border-radius: 23px;

    font: 700 1.125em "Jost", sans-serif;

    padding: 15px 20px;

}

h3{
    display: flex;
    align-items: center;
    gap: 15px;

    font: 700 1.375em/1.1 "Josefin Sans", sans-serif;



}

/*header*/

.logo{
    font: 700 2.625em "Jost", sans-serif;

    color: black;
}

.logo span{
    font-size: 1em;
}

.menu{
    font: 700 1.125em "Jost", sans-serif;
}


/*héro*/

h1{
    font:700 3.125em/1.1 "Jost", sans-serif;
    margin: 0;
}
 
/*Conteneur principal*/

h2{
    font: 700 2.25em/1.1 "Jost", sans-serif ;
    margin: 0;
}

.nos_services p{
    margin: 10px auto;
    padding-bottom: ;
}





/*-------------------------------------------------------------------------------
COMPONENTS 
--------------------------------------------------------------------------------*/

/*--wrapper--*/
.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

/*header*/

.header{
    background-color: white;
    border-top:4px #E25254 solid;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;  
    gap: 20px ; 
}

.header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu a{
    color: black;
}

.menu a:hover{
    color: #E25254;
}

.menu{
    display: flex;
    gap: 30px;
}

/*hero*/

.hero{
    background:url(../images/HERO.jpg) no-repeat bottom /cover;
   
}

.hero .wrapper{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:20px ;
}

.contenu_hero{
    background-color: rgba(226, 82, 84, 0.9);
    color: white;

    padding: 40px;
    max-width: 587px;



}

 .bouton_droit{
    display: flex;
    justify-content: flex-end;
}

 
/*Conteneur principal*/

.contenu1{
    background: #D6D6D6;
    padding: 80px;
    
    
}

.contenu1 .wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nos_services{
    max-width: 588px;
    
}

.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;    

}

.card{
    background-color: white;
    color:#E25254 ;

    padding: 20px;
}

.card:hover{
    color: white;
    background-color: #E25254;
}

/*Conteneur secondaire*/